*~
*.swp

*.la
*.lo
*.o
*.so

.deps
.libs
libpath_mangled
Makefile
Makefile.in

/*.zip
/*.tar.*
/*.sig
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.lt
/config.status
/config.sub
/configure
/depcomp
/getdata-*
/install-sh
/libtool
/ltmain.sh
/missing

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

bindings/make_parameters

bindings/cxx/test/big_test

bindings/f77/getdata.f
bindings/f77/getdata.f90
bindings/f77/getdata.mod
bindings/f77/make_parameters.sed
bindings/f77/make_parameters.sed.in
bindings/f77/make_parameters.stamp
bindings/f77/test/big_test
bindings/f77/test/big_test95
bindings/f77/test/gdcopn
bindings/f77/test/test_getdata.f

bindings/idl/constants.c
bindings/idl/idl_getdata.dlm
bindings/idl/makedlm.sh
bindings/idl/sublist.c
bindings/idl/sublist.c.in
bindings/idl/sublist.stamp

bindings/matlab/Contents.m
bindings/matlab/gd_add.m
bindings/matlab/gd_add_alias.m
bindings/matlab/gd_add_carray.m
bindings/matlab/gd_add_const.m
bindings/matlab/gd_add_sarray.m
bindings/matlab/gd_add_spec.m
bindings/matlab/gd_add_string.m
bindings/matlab/gd_alias_target.m
bindings/matlab/gd_aliases.m
bindings/matlab/gd_alter_affixes.m
bindings/matlab/gd_alter_encoding.m
bindings/matlab/gd_alter_endianness.m
bindings/matlab/gd_alter_entry.m
bindings/matlab/gd_alter_frameoffset.m
bindings/matlab/gd_alter_protection.m
bindings/matlab/gd_alter_spec.m
bindings/matlab/gd_array_len.m
bindings/matlab/gd_bof.m
bindings/matlab/gd_carrays.m
bindings/matlab/gd_close.m
bindings/matlab/gd_constants.m
bindings/matlab/gd_delete.m
bindings/matlab/gd_desync.m
bindings/matlab/gd_dirfile_standards.m
bindings/matlab/gd_dirfilename.m
bindings/matlab/gd_discard.m
bindings/matlab/gd_encoding.m
bindings/matlab/gd_encoding_support.m
bindings/matlab/gd_endianness.m
bindings/matlab/gd_entry.m
bindings/matlab/gd_entry_list.m
bindings/matlab/gd_entry_type.m
bindings/matlab/gd_eof.m
bindings/matlab/gd_error.m
bindings/matlab/gd_error_string.m
bindings/matlab/gd_flags.m
bindings/matlab/gd_flush.m
bindings/matlab/gd_fragment_affixes.m
bindings/matlab/gd_fragment_index.m
bindings/matlab/gd_fragment_namespace.m
bindings/matlab/gd_fragmentname.m
bindings/matlab/gd_framenum.m
bindings/matlab/gd_frameoffset.m
bindings/matlab/gd_get_carray.m
bindings/matlab/gd_get_carray_slice.m
bindings/matlab/gd_get_sarray.m
bindings/matlab/gd_get_sarray_slice.m
bindings/matlab/gd_get_string.m
bindings/matlab/gd_getdata.m
bindings/matlab/gd_hidden.m
bindings/matlab/gd_hide.m
bindings/matlab/gd_include.m
bindings/matlab/gd_include_affix.m
bindings/matlab/gd_invalid_dirfile.m
bindings/matlab/gd_linterp_tablename.m
bindings/matlab/gd_madd.m
bindings/matlab/gd_madd_alias.m
bindings/matlab/gd_madd_carray.m
bindings/matlab/gd_madd_const.m
bindings/matlab/gd_madd_sarray.m
bindings/matlab/gd_madd_spec.m
bindings/matlab/gd_madd_string.m
bindings/matlab/gd_malter_spec.m
bindings/matlab/gd_match_entries.m
bindings/matlab/gd_mcarrays.m
bindings/matlab/gd_mconstants.m
bindings/matlab/gd_metaflush.m
bindings/matlab/gd_move.m
bindings/matlab/gd_mplex_lookback.m
bindings/matlab/gd_msarrays.m
bindings/matlab/gd_mstrings.m
bindings/matlab/gd_naliases.m
bindings/matlab/gd_native_type.m
bindings/matlab/gd_nentries.m
bindings/matlab/gd_nfragments.m
bindings/matlab/gd_nframes.m
bindings/matlab/gd_open.m
bindings/matlab/gd_open_limit.m
bindings/matlab/gd_parent_fragment.m
bindings/matlab/gd_protection.m
bindings/matlab/gd_put_carray_slice.m
bindings/matlab/gd_put_sarray_slice.m
bindings/matlab/gd_put_string.m
bindings/matlab/gd_putdata.m
bindings/matlab/gd_raw_close.m
bindings/matlab/gd_raw_filename.m
bindings/matlab/gd_reference.m
bindings/matlab/gd_rename.m
bindings/matlab/gd_rewrite_fragment.m
bindings/matlab/gd_sarrays.m
bindings/matlab/gd_seek.m
bindings/matlab/gd_spf.m
bindings/matlab/gd_strings.m
bindings/matlab/gd_strtok.m
bindings/matlab/gd_sync.m
bindings/matlab/gd_tell.m
bindings/matlab/gd_unhide.m
bindings/matlab/gd_uninclude.m
bindings/matlab/gd_validate.m
bindings/matlab/gd_verbose_prefix.m
bindings/matlab/getdata_constants.m
bindings/matlab/*.mexa64
bindings/matlab/make_contents.sh

bindings/perl/build/
bindings/perl/make_parameters.sed
bindings/perl/src/Makefile.PL

bindings/php/constants.c

bindings/python/pyconstants.c
bindings/python/setup.py

man/*.3
man/*.3in
man/*.html

src/gd_config.h
src/gd_config.h.in
src/getdata.h
src/getdata.h.in2
src/getdata.pc
src/stamp-h1
src/stamp-h2

util/checkdirfile
util/dirfile2ascii

test/[a-z0-9_]*
