*~
*.swp

*.la
*.lo
*.o
*.so

.deps
.libs
libpath_mangled
Makefile
Makefile.in

/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.lt
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

bindings/make_parameters

bindings/cxx/test/big_test

bindings/f77/getdata.f
bindings/f77/getdata.f90
bindings/f77/getdata.mod
bindings/f77/make_parameters.sed
bindings/f77/make_parameters.sed.in
bindings/f77/make_parameters.stamp
bindings/f77/test/big_test
bindings/f77/test/big_test95
bindings/f77/test/gdcopn
bindings/f77/test/test_getdata.f

bindings/idl/constants.c
bindings/idl/idl_getdata.dlm
bindings/idl/makedlm.sh
bindings/idl/sublist.c
bindings/idl/sublist.c.in
bindings/idl/sublist.stamp

bindings/matlab/*.m
bindings/matlab/*.mexa64
bindings/matlab/make_contents.sh

bindings/perl/build/
bindings/perl/make_parameters.sed
bindings/perl/src/Makefile.PL

bindings/php/constants.c

bindings/python/pyconstants.c
bindings/python/setup.py

man/*.3
man/*.3in

src/gd_config.h
src/gd_config.h.in
src/getdata.h
src/getdata.h.in2
src/getdata.pc
src/stamp-h1
src/stamp-h2

util/checkdirfile
util/dirfile2ascii

test/[a-z0-9_]*
